body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

header{
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

header img{
    width: 75px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
    margin: 10px;
}
#Logo{
    display: flex;
    align-items: center;
}
